.card-info-lich-hoc {
    border-radius: 5px;
     background-color: rgba(0, 0, 0, 0.071);
    // background-color: red;
    margin-bottom: 6px;
    width: 100%;
    // height: 40px;
    .content-card-info {
        padding: 7px;
    }
}