* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

.MainApp {
  height: 100vh;
}
.redColor{
  color: red;
}

.ant-select-selection-placeholder {
  text-align: start;
}
.ant-select-selection-item {
  text-align: start;
}